*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
}

:root{
    --bg-color: #0c0c0c;
    --text-color: #fff;
    --main-color: #ffae00;
    --big-font: 7rem;
    --p-font:1.1rem;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
    background-color: #0c0c0c;
}

header a{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.navbar{
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
}
.navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}


.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

body {

    background-color: #0c0c0c;
    width: 100vw;
    font-family: Arial, sans-serif; 
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
  

/* CSS for Instagram-like Grid with Fixed Grid Item Size centered in .container */
.container {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    padding: 20px;
    margin-top: 10px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 200px); /* 3 columns with a fixed width of 200px */
    grid-auto-rows: 200px; /* Fixed height of 200px */
    gap: 30px; /* Adjust the gap to your liking */
    max-width: 1200px;
    width: 100%;
    justify-content: center; /* Center the grid horizontally within .container */
    align-content: center; /* Center the grid vertically within .container */
  }
  
  .grid-item {
    transition: .3s;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
    width: 200px; /* Same width as specified in the grid columns */
    height: 200px; /* Same height as specified in the grid auto-rows */
  }
  .grid-item:hover {
    transform: scale(1.05); /* Scale up on hover */
}
  .grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  


  @media (max-width:768px) {
    /* menu code */
    body {
        width: 100%;

    }

    header {
        margin-top: -10px;
        padding: 10px;
        /* height: 100px; */
        background: linear-gradient(to bottom, #0c0c0c 15%, rgba(12, 12, 12, 0) 50%) !important;
    }

    header a {
        font-size: 24px;
        align-self: flex-start;
        /* margin-top: 10px; */
    }

    body > header > a {
        font-size: 50px;

    }

    body > header > ul {
        position: relative;
        right: -450px;
        top: 50px;
    }

    .navbar a {
        font-size: 18px;
        margin: 0 10px;
    }

    .container-text {
        font-size: 28px;
    }
    /* Style pour le menu hamburger */
    #burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: fixed;

        top: 7px;
        right: 10px;
    }

    #burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Gestion de l'affichage du menu */
    .menu-opened {
        right: 0 !important;/* Affichez le menu depuis la droite */
    }

    /* Style pour la liste du menu de navigation */
    ul.navbar {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        list-style: none;
        background-color: #333;
        overflow-y: auto; /* Ajoutez une barre de défilement si le contenu est trop long */
        transition: right 0.3s;
    }

    ul.navbar li {
        margin: 10px 0;
    }


    .navbar a {
        margin: 10px 0;
    }
    /* end of code menu */

    .grid {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image-container{
        padding-bottom: 24px;
    }
    .container {
        margin-top: 1500px;
    }
}